@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");



.img{
    margin-top: 20px; margin-bottom: 20px;
    border-radius: 200%;
    width: 150px; height: 180px;
}


.linkedinicon{
    font-size: 20px;
    color: #62BBC1;
}

.githubicon{
    font-size: 20px;
    color: #EC058E;
}

.logo{
   width: 200px; height: 130px;
}

.card-text{
    background-color: #FBAF00;;
}

.card-title{
    margin-top: 10px;
    background-color: #FBAF00;
}

.containerFotos{
    background-color: #010400;
    text-align: center;
    border-radius: 10px;
}