.loginIcon{
    height: 9rem;
    color: #FBAF00;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .profile {
    text-align: center;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  #product-section,
  #reservation-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }