@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

/* Variables */
:root
{
    /* colores */
    --black-color: #010400;
    --grey-color: #30332E;
    --grey-light-color:#adadad;
    --white-color: #FFFBFC;
    --primary-color: #EC058E;
    --secondary-color: #FBAF00;
    --third-color: #62BBC1;
    --primary-light-color: #ffa2da;
    --secondary-light-color: #ffeaba;
    --third-light-color: #bbf1f5;
    --background-score: #01040066;
}

/* Asignar font Fredoka a todos los elementos */
body
{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Fredoka', sans-serif;
}

/* Estilos para el footer */
footer
{
    text-align: left;
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--grey-color);   
    padding-top: auto;
}

.redes
{
    font-size: 2rem;
}

/* Listas enfooter */
footer ul
{
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
}

footer ul li {
    display: inline-block;
}

/* anchor */
a
{
    color: inherit;
}

a:link
{
    text-decoration-line: none;
}

footer a:hover
{
    color: var(--grey-light-color);
    transition-duration: 200ms;
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: var(--primary-color); /* Color de fondo */
}

/* Estilos de marca */
#logo-large,
#logo-small
{
    height: 20px;
}

/* Estilo para los elementos del menú */
.navbar-nav .nav-link {
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
}

/* Cambiando estilos de bootstrap */
.navbar-toggler-icon {
    /* TODO Change color navbar burger */
}  

/* Desactivar estilos de bootstrap */

.navbar-toggler
{
    border: none;
}

/* Estilo para el botón "Acceder" eliminar al implementar botonesde mariana*/
.navbar-collapse .btn {
    padding: 6px 20px;
    border: none;
    border-radius: 100px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-weight: 500;
}

.nav-link.dropdown-toggle.show::after,
.nav-link.dropdown-toggle.show[aria-expanded="true"]
{
    color: var(--white-color);
}

.nav-item .nav-link:hover
{
    color: var(--primary-light-color);
}

.body-text
{
    font-family: 'Open Sans';
}


#btn-calendario
{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.img-container
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    overflow: hidden;
}

.anim-container .info
{
    transition: all 500ms ease-in-out;
}

.anim-container:hover .img-container
{
    background-size: 120%;
}

.anim-container:hover .info
{
    color: var(--primary-color);
}

/*Rating con las estrellas*/
.star-rate
{
    color: var(--secondary-color);
}

.hidden
{
    display: none !important;
    visibility: hidden;
}

.rating
{
    background-color: var(--background-score);
    color: var(--white-color);
    font-size: 1.3rem;
    padding: 0.5rem 0.7rem;
    border-start-start-radius: 50%;
}

.addBtn
{
    margin: 0.5rem;
}


dialog
{
    border-radius: 2rem;
    border: none;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.353);
    padding: 2rem;
}

/*Calendario*/
.calendar {
    width: 100%;
    max-width: 400px;
    height: 340px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--white-color);
    margin-bottom: 2rem;
  }
  
  .calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    padding-bottom: 15px;
    border-bottom: 2px solid #ccc;
  }
  .calendar .header .month {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--black-color);
  }
  
  .calendar .header .btns {
    display: flex;
    gap: 10px;
  }
  
  /*Los botones */
  .calendar .header .btns .btn {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .calendar .header .btns .btn:hover {
    transform: scale(1.05);
  }
  
  .diasDeLaSemana {
    display: flex;
    gap: 10px;
    margin-bottom: 3px;
  }
  
  .diasDeLaSemana .day {
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
  
  .days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  /*los dias*/
  .days .day {
    width: calc(100% / 7 - 10px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--black-color);
    background-color: #fff;
    transition: all 0.3s;
  }
  
  .days .day:not(.next):not(.prev):hover {
    color: #fff;
    background-color: var(--primary-color);
    transform: scale(1.05);
  }
  
  .days .day.today {
    color: #fff;
    background-color: var(--primary-color);
  }
  
  .days .day.next,
  .days .day.prev{
    color: #ccc;
    pointer-events: none;
  }


  /* dias seleccionado*/
  .days .day.selected {
    background-color: #00bcd4;
    color: #ffffff;
    cursor: pointer;
  }
  
  /*Fin del calendario*/
.priceItem{
    max-width: 150px;
}