
h1{
    margin-top: 25px;
    text-align: center;
}

.loginIcon{
    height: 9rem;
    color: #FBAF00;

}

.form-control{
    background-color: gainsboro;

} 

.container{
    margin-bottom: 50px;
}


.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSM{
    margin-bottom: 8px;
}

.buttonEn{
    margin-left: 45px;
}

.filename{
    align-items: center;
}

.no-resize{
    resize: none;
    
}

.center-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}



.filename {
    margin-top: 8px;
    text-align: center;
    margin-left: 60px;
}