
h1{
    margin-top: 25px;
}

.loginIcon{
    height: 9rem;
    color: #FBAF00;

}

.form-control{
    background-color: gainsboro;

} 

.container{
    margin-bottom: 50px;
}


.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSM{
    margin-bottom: 8px;
}

.buttonEn{
    margin-left: 45px;
}

.filename{
    align-items: center;
}

.no-resize{
    resize: none;
    
}