

.loginIcon{
    height: 7rem;
    color: #FBAF00;

}

.recuerdameCheck{
    height: 1rem;
}

.recuerdameTest{
    font-size: xx-large;
}

.titulo{
    text-align: center ;
    
}

#emailLabel{
    font-size: large;
   
}

#passwordLabel{
    font-size: large;
   
}

#recuerdameText{
    font-size: large;
    }

#rememberPassword{
    font-size: large;
}

#crearCuenta{
    font-size: large;
}

.usuarioInput{
    border-color: black;
    border-style: solid;
    background-color: #5a595925;
    height: 3rem;

}

.lockInput{
    border-color: black;
    border-radius: 5px;
    background-color: rgba(90, 89, 89, 0.144);
    height: 3rem;
}

.textoCursivas{
 font-style: italic;
 color: #62bbc1; 
}

#buttonRegistrar{
    height: 3rem;
}