.form-group {
    margin: 0 auto;
    /*max-width: 400px;*/
    position: relative;
}

h2 {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;/*
    padding-right: 20px;
    padding-left: 20px;
    max-width: 430px;*/
    background-color: white;

}

/*.box{
    border: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}*/

.bi-eye-fill {
    font-size: 18px;
    position: absolute;
    right: 10px;
    transform: translateY(-120%);
    cursor: pointer;
}

.bi-eye-slash{
    font-size: 18px;
    position: absolute;
    right: 10px;
    transform: translateY(-120%);
    cursor: pointer;
}

.form-control{
    border-color: #5a595925;
    border-style: solid;
    background-color: #5a595925;

}

.lockInput{
    border-color: #5a595925;
    border: radius 5px;
    background-color: rgba(90, 89, 89, 0.144);
}

.form-link{
    text-align: center;
}

.login_link{
    font-style: italic;
    color: #62bbc1; 
}