@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root
{
    --black-color: #010400;
    --grey-color: #30332E;
    --primary-color: #EC058E;
    --secondary-color: #FBAF00;
    --third-color: #62BBC1;
    --white-color: #FFFBFC;
}

.container{
    margin-top: 30px;
    margin-bottom: 50px;
}

#containerRow{
    margin-top: 50px;
}

.btn{
    max-width: 150px;
    
}


#table{
    margin-top: 50px;
    margin-left: 10px;
}


.resumen{
    margin-top: 0px;
}

.servicio{
    margin-top: 50px;
}

#subtotal{
    margin-top: 10px;
    margin-left: 15px;
}

#totales{
    margin-top: 100px;
    margin-left: 15px;
}

.buttones{
    margin-top: 20px;
    margin-left: 20px;
}



.back-img{
    background-size:cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    text-align: right;
    padding-top: 10px;
    padding-right: 5px;
    border-radius: 10px;
}



.item{
    display: flex;
    padding-top: 5px;
    margin-bottom: 50px;
}

.itemContent{
    text-align: left;
}
