<dialog id="calendario">
    <h3>Seleccione el dia de reservación:</h3>

    <div class="container"> <!--inicio del container-->
        <div class="calendar"> <!--inicio del div calendar-->
            <div class="header"> <!--inicio del header-->
                <div class="month"> </div>
                <div class="btns"> <!--inicio de los botones-->
                    <div class="btn today-btn"> 
                        <i class="bi bi-calendar2-day"></i> <!--Icono de un caledario-->
                    </div>
                    <div class="btn prev-btn"> 
                        <i class="bi bi-chevron-left"></i> <!--Icono de un < -->
                      </div>
                    <div class="btn next-btn"> 
                        <i class="bi bi-chevron-right"></i> <!--Icono de >-->
                    </div>
                </div> <!--fin de los botones-->
            </div> <!--fin del header-->
            <div class="diasDeLaSemana">
                <div class="day">dom</div>
                <div class="day">lun</div>
                <div class="day">mar</div>
                <div class="day">mie</div>
                <div class="day">jue</div>
                <div class="day">vie</div>
                <div class="day">sab</div>
            </div>
    
            <div class="days">
                <!-- Agregar los dias usando js -->
            </div>
        </div> <!--fin del div calendar-->
    
    </div> <!--fin del container-->




    <!--Button-->
    <!--Multiplication Sign Estatitico-->
    <div class="wrapperCarritoEstatico">
        <div class="buttonCarritoEstatico" id="close">
            <div class="iconSE"><i class="bi bi-x"></i></div>
        </div>
    </div> <!--Fin del button-->
</dialog>
