<!-- Footer -->
<footer class="container-fluid px-5 py-4 rounded-top-5">
    <div class="row">
        <ul class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column gap-0">
            <li>
                <a href="#" class="d-flex gap-2">
                    <i class="bi bi-facebook"></i>
                    <p>Facebook</p>
                </a>
            </li>
            <li>
                <a href="#" class="d-flex gap-2">
                    <i class="bi bi-whatsapp"></i>
                    <p>Whatsapp</p>
                </a>
            </li>
            <li>
                <a href="#" class="d-flex gap-2">
                    <i class="bi bi-instagram"></i>
                    <p>Instragram</p>
                </a>
            </li>
        </ul>
        <ul class="col-lg-6 col-md-6 col-sm-12">
            <li>Avenida SepaDonde #123 Colonia Nosedonde, Merida, Yucatan</li>
            <li>@2023 Copyrigh InflaParty</li>
        </ul>
    </div>
</footer>
