<!-- Navbar -->
<nav class="navbar navbar-expand-md p-3 rounded-bottom-5 pb-4 pb-md-3 mb-4 fixed-top">
    <div class="container-fluid">

        <a href="./index.html" class="navbar-brand">
            <img 
                id="logo-large"
                src="./assets/marca/marca4.svg"
                alt="Large Logo InflaParty"
                class="d-md-inline d-none"
                >
            <img
                id="logo-small"
                src="./assets/marca/marca3.svg"
                alt="Small Logo InflaParty"
                class="d-md-none d-inline"
                >
        </a>

        <!-- Button for responsive sm and md -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon custom-icon"></span>

        </button>

        <div class="collapse navbar-collapse d-md-flex justify-content-md-between" id="navbarSupportedContent">
            <!-- Brand -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Productos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Inflables</a></li>
                        <li><a class="dropdown-item" href="">Trampolines</a></li>
                        <li><a class="dropdown-item" href="#">Mesas y Sillas</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./about-us.html">Sobre nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contact.html">Contacto</a>
                </li>
            </ul>
            <div class="d-flex gap-3 flex-column flex-md-row">
                <a href="./login.html">
                    <button class="buttonAcceder">Acceder</button>
                </a>
                <a href="./shopping-cart.html">
                    <div class="wrapperCarritoEstaticoPink">
                        <!--Carrito Estatitico-->
                        <div class="buttonCarritoEstaticoPink">
                            <div class="iconSEP"><i class="far fa-shopping-cart"></i></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</nav>